# Wether the endpoints should conenct to a local graoh node
USE_LOCAL_GRAPH_NODE=false

# Forces a walletAddress in the wallet-data endpoint
FORCE_WALLET_ADDRESS=

# Wether endpoints should return mock values
USE_MOCKS=false

# Goldsky API key for subgraph queries
GOLDSKY_API_KEY=

# Alchemy API key for RPC queries
ALCHEMY_API_KEY=

# Enable dev mode
NEXT_PUBLIC_DEV_MODE=false

# Enable testnet default
NEXT_PUBLIC_DEFAULT_TO_TESTNET=true

#6 Use local RPC for frontend web3 queries
NEXT_PUBLIC_USE_LOCAL_RPC=true

# Formo write key
NEXT_PUBLIC_FORMO_WRITE_KEY=

# Lucky Orange site id
NEXT_PUBLIC_LUCKY_ORANGE_SITE_ID=

# Base URL for metadata and canonical links
NEXT_PUBLIC_SITE_URL=https://app.klimaprotocol.com


# Base RPC URLs
BASE_RPC_URL=
BASE_SEPOLIA_RPC_URL=