@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --spacing: 0.4rem; /* p-3 = 0.12rem padding = 12px padding */
  --font-inter: Inter, Inter Fallback;
  --primary-text-color: #1e1e1e;
  --white: #ffffff;
  --green: #e6faeb;
  --green-40: #00cc33;
  --light-red: rgba(220, 38, 38, 0.2);
  --red: rgba(220, 38, 38);
  --void-80: #1e1e1e;
  --void-70: #2c2c2c;
  --void-60: #464646;
  --void-50: #666666;
  --void-40: #777777;
  --void-20: #c3c3c3;
  --void-10: #fafafa;
}

html {
  font-size: 62.5%; /* 1rem = 62.5 * 16 / 100 = 10px */
}

body {
  background: var(--background);
  color: var(--primary-text-color);
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}

/* Tailwind styles extensions */
.border-void-20 {
  border-color: var(--void-20);
}

.border-foreground {
  border-color: var(--foreground);
}

.bg-void-10 {
  background: var(--void-10);
}

.bg-void-20 {
  background: var(--void-20);
}

.bg-void-50 {
  background: var(--void-50);
}

.bg-void-80 {
  background: var(--void-80);
}

.bg-green {
  background: var(--green);
}

.bg-red {
  background: var(--light-red);
}

.text-white {
  color: var(--white);
}

.text-void-40 {
  color: var(--void-40);
}

.text-void-20 {
  color: var(--void-20);
}

.text-void-80 {
  color: var(--void-80);
}

.text-green-40 {
  color: var(--green-40);
}

.text-red {
  color: var(--red);
}

.text-size-14 {
  font-size: 1.4rem;
}

.text-size-12 {
  font-size: 1.2rem;
}

.w-flowcard {
  width: 38.2rem;
}

h1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4rem;
  letter-spacing: 0%;
}
